.App {
  padding: 10px 20px;
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: stretch;
}

.group {
  width: 100%;
}

.sidebar {
  margin-top: 10px;
  width: 100%;
}

.selection-message {
  border-radius: 4px;
  width: 400px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  height: 224px;
  text-align: center;
}
